* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif; // font-family: 'Sunflower',sans-serif;
    background-color: $f2eW1-eleventh;
}

.clearfix {
    @include clearfix();
}

.countainer {
    display: block;
    margin: 0 auto;
    width: 1024px;
}
